*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: white;
}

h2{
  color: white;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 10px;
}
h3{
  color: white;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

h4{
  color: white;
  font-weight: 700;
}

p{
  color: #7d7f84;
  font-weight: 500;
}

ul{
  list-style: none;
}

.btn{
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid white;
  border-radius: 50px;
  width: 300px;
  padding: 10px 30px;

}

.page-wrapper{
  height: 100vh;
}

main{
  display: flex;
  height: calc(100% - 80px);
  background-color: #141922;
}



aside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: flex-start; */
  height: 100%;
  width:300px;
  background-color: #000;
  padding: 15px;

}

aside a{
  color: #7d7f84;
}


/* LOGO */

.logo{
  height: 80px;
  width: 100%;

}

.logo img{
  max-width: 150px;

}

/* MENU' */

.menu{
  width: 100%;
}


.menu li{
  margin-top: 5px;
}

.menu a{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu a:hover{
  color: white;
}

.menu img{
  display: inline-block;
  max-height: 30px;
  margin-right: 15px;

}

/* PLAYLIST */

.playlist{
  background-color: yellow;
}

.playlist-list ul{
  overflow-y: auto;
  height: calc(100% - 200px);
}

/*MAIN*/

.main-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 300px);
  padding: 15px;
  overflow-y: auto;
}

.main-section{
  padding: 80px 30px 20px;
}

/*BARRA TOP */

.top-bar{
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 1;
  height: 80px;
  padding: 0 40px;
  width: calc(100% - 300px);
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0 , 0, 0.5);
}

/* MENU' CENTRALE */

.central-menu{
  display: flex;
  justify-content: center;
  height: 30px;
  /* background-color: blue; */
}

.central-menu li{
  display: inline-block;
  margin-right: 25px;
}

.central-menu li a{
  position: relative;
  color: #7d7f84;
  text-transform: uppercase;
  font-weight: 500;
}

.central-menu li:last-child{
  margin-right: 0;
}

.central-menu a:hover::after{
  content: "";
  display: block;
  background-color: #adff2f;
  height: 2px;
  width: 30px;
  margin: auto;
}


/* SEZIONE ALBUM */

.music{
  /* background-color: red; */
  /* width: 100%; */
  padding: 30px 0;
}

.music i{
  color: white;
  text-align: center;
  font-size: 80px;
  line-height: 200px;
}

.music-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 30px;
  /* background-color: yellow; */
}

.music-box h3{
  width: 200px;
  margin: 10px 0;
}

.music img{
  width: 200px;
}

.music-box{
  position: relative;
  text-align: center;
  margin-right: 30px;
}

.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
}

.music-box:hover .overlay{
  display: block;
}

.overlay-circle{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 100%;
}

.music-box:hover .overlay-circle{
  display: block;
}

.popular-album{
  border-radius: 100%
}



/* FOOTER */

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  background-color: #282828;
  padding: 10px 15px;
}

.lateral-footer-sx{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* width: 15%; */
  margin: auto;
  padding-right: 10px;
  /* background-color: purple; */
}
.lateral-footer-dx{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* width: 15%; */
  margin: auto;
  padding-right: 10px;
  align-items: center;
  /* background-color: purple; */
}

.lateral-footer-sx i{
  font-size: 16px;
  color: #7d7f84;
  margin-left: 10px;
}
.lateral-footer-dx i{
  font-size: 16px;
  color: white;
  margin-right: 10px;

}


footer li{
  display: inline-table;
  line-height: 40px;
}

.album-played{
  margin-right: 50px;
}

.album-played img{
  width: 40px;
  margin-right: 10px;
}

.album-title{
  display: inline-block;
}


.volume{
  position: relative;
}

.volume-bar{
  height: 4px;
  width: 100px;
  border-radius: 10px;
  background-color: #7d7f84;
}

.volume-over{
  position: absolute;
  top:0;
  left:0;
  height: 4px;
  width: 35px;
  border-radius: 10px;
  background-color: white;
}

.player{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* width: 80%; */
  flex-grow: 2;
  /* background-color: gray; */
  color: white;
}

.mgn_right{
  margin-right: 20px;
}

.player i{
  font-size: 18px;
}

footer .fa-play-circle{
  font-size: 30px;
  margin-left: 40px;
  margin-right:40px;

}

.player-comand{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.player-slide{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.music-bar{
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}

.music-bar-full{
  height: 4px;
  width: 600px;
  border-radius: 10px;
  background-color: #7d7f84;
}
.music-bar-over{
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 250px;
  border-radius: 10px;
  background-color: white;
}
