*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: white;
}

h2{
  color: white;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 10px;
}
h3{
  color: white;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

p{
  color: #7d7f84;
  font-weight: 500;
}

ul{
  list-style: none;
}

.btn{
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid white;
  border-radius: 50px;
  width: 300px;
  padding: 10px 30px;

}

.page-wrapper{
  height: 100vh;
}

main{
  display: flex;
  height: calc(100% - 80px);
  background-color: #141922;
}



aside{
  display: flex;
  flex-direction: column;
  height: 100%;
  width:300px;
  background-color: #000;
  padding: 15px;

}
footer{
  height: 80px;
  background-color: #282828;
}



/* Logo */

.logo{
  max-height: 50px;
  background-color: green;

}

.logo img{
  max-height: 50px;

}

/* Menù */

.menu{
  background-color: pink;
}

.menu img{
  display: inline-block;
  max-height: 30px;
}

/* Playlist */

.playlist{
  background-color: yellow;
}

.playlist-list ul{
  overflow-y: auto;
  height: calc(100% - 200px);
}

/* Main */

.main-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 300px);
  padding: 15px;
  overflow-y: auto;
}

.main-section{
  padding: 80px 30px 20px;
}

/* Barra Top */

.top-bar{
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 1;
  height: 80px;
  padding: 0 40px;
  width: calc(100% - 300px);
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0 , 0, 0.5);
}

/* Menù centrale */

.central-menu{
  display: flex;
  justify-content: center;
  /* background-color: blue; */
}

.central-menu li{
  display: inline-block;
  margin-right: 25px;
}

.central-menu li a{
  position: relative;
  color: #7d7f84;
  text-transform: uppercase;
  font-weight: 500;
}

.central-menu li:last-child{
  margin-right: 0;
}

.central-menu li a:hover{
  background-color: #adff2f;
  height: 3px;
  width: 30px;
  margin: auto;
}

/* Sezione Album */

.music{
  /* background-color: red; */
  /* width: 100%; */
  padding: 30px 0;
}

.music-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 30px;
  /* background-color: yellow; */
}

.music-box h3{
  margin: 10px 0;


}

.music img{
  width: 200px;
}

.music-box{
  text-align: center;
  width: 200px;
  margin-right: 30px;
}

.popular-album{
  border-radius: 100%
}
